<%= form_for(pen) do |f| %>
  <% if pen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pen.errors.count, "error") %> prohibited this pen from being saved:</h2>

      <ul>
      <% pen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
